# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
ENV/

# Alembic
*.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Environment variables
.env

